.header {
  padding: 2.4rem 2rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 8rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.menu-item {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--clr-eight);
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1280px;
    margin: 0 auto;
  }

  .menu {
    gap: 5.8rem;
  }
}
