.wrapper {
  padding: 0 6.4rem 16rem;
  background-color: var(--clr-two);
  position: relative;
}

.wrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 7.4rem;
  top: -16px;
  background-image: url('/images/bg-quotes.png');
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 1440px) {
  .inner-wrapper {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 4rem;
    position: relative;
  }

  .inner-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('/images/bg-quotes.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: -1rem;
    top: -40px;
    height: 60px;
    width: 60px;
  }

  .wrapper::before {
    background-image: none;
  }
}
